<div class="block">
  <div class="content">
    <h2 class="title">CADUM</h2>
    <div class="inner">
      <table class="table">

        <tr>
          <th>Nome</th>
          <th>Sexo</th>
          <th>Civil</th>
          <th>Nasc</th>
          <th>Local</th>
        </tr>

        <% @cadums.each do |cadum| %>
          <tr>
            <td><%=h cadum.name %></td>
            <td><%=h cadum.sex %></td>
            <td><%=h cadum.marital_status %></td>
            <td><%=h cadum.birth %></td>
            <td><%=h cadum.birthplace %></td>

            <td><%= link_to 'Show', cadum %></td>
            <td><%= link_to 'Edit', edit_cadum_path(cadum) %></td>
            <td><%= link_to 'Destroy', cadum, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<br />

<% content_for :sidebar do %>

  <div class="block">
    <h3>Procura</h3>
    <div class="content">

      <p>
        <% form_tag request.path, :method => 'get' do %>
        <%= link_to image_tag('../images/icons/lupa.png', :class=>'img') %>
        <%= text_field_tag :search, params[:search], :title=>'Procura CADUM' %>
<% end %>
</p>


</div>
</div>


<div class="block">
  <h3>Menu</h3>
  <ul class="navigation">
    <li><%= link_to image_tag('../images/icons/add.png', :class=>'img')+' Novo Registro', new_cadum_path %></li>
  </ul>
</div>



<% end %>
