<p>
  <b>Name:</b>
  <%=h @cadum.name %>
</p>

<p>
  <b>Sex:</b>
  <%=h @cadum.sex %>
</p>

<p>
  <b>Marital status:</b>
  <%=h @cadum.marital_status %>
</p>

<p>
  <b>Birth:</b>
  <%=h @cadum.birth %>
</p>

<p>
  <b>Birthplace:</b>
  <%=h @cadum.birthplace %>
</p>

<p>
  <b>Time residence:</b>
  <%=h @cadum.time_residence %>
</p>

<p>
  <b>Profession:</b>
  <%=h @cadum.profession %>
</p>

<p>
  <b>Income:</b>
  <%=h @cadum.income %>
</p>

<p>
  <b>Housing:</b>
  <%=h @cadum.housing %>
</p>

<p>
  <b>Type housing:</b>
  <%=h @cadum.type_housing %>
</p>

<p>
  <b>Type house:</b>
  <%=h @cadum.type_house %>
</p>

<p>
  <b>Room:</b>
  <%=h @cadum.room %>
</p>

<p>
  <b>Revenue:</b>
  <%=h @cadum.revenue %>
</p>

<p>
  <b>Habitantes:</b>
  <%=h @cadum.habitantes %>
</p>


<%= link_to 'Edit', edit_cadum_path(@cadum) %> |
<%= link_to 'Back', cadums_path %>