<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title>SIG@ - SISTEMA DE GESTÃO @DMINISTRATIVA</title>
    <%= stylesheet_link_tag 'base', 'style' %>
    <%# stylesheet_link_tag 'siga' %>
    <%= javascript_include_tag 'jquery', 'application', :cache => true %>
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        <h1><%= image_tag "layout/logo.png" %> </h1>
        <%# yield :content_header %>
        <div id='user-navigation'>
          <ul>
            <li><%= link_to "Home", "/" %> </li>
            <li><%= link_to "Notícias", "/articles"%> </li>
            <% if current_user %>
              <li><%= link_to "Mensagens", "/inbox"%> </li>
              <li><%= link_to "Opções", "/"%> </li>
              <li><%= link_to "Sair", '/logout'%> </li>
            <% else %>
              <li><%= link_to "Signup", "/signup"%> </li>
              <li><%= link_to "Login", "/login"%> </li>
            <% end %>
            <div class='clear'></div>
          </ul>
        </div>
      </div>
      <div id='wrapper'>
        <%= flash_message %>
        <div id='main'>
          <%= yield %>
        </div>
        <div class='clear'></div>
      </div>
    </div>
    <div id='footer'>
      <div class='block'>
        <p> Powered by Rails & Postgresql </p>
      </div>
    </div>
  </body>
</html>
