<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title>SIG@ - SISTEMA DE GESTÃO @DMINISTRATIVA</title>
    <%= stylesheet_link_tag 'base', 'style' %>
    <%# stylesheet_link_tag 'siga' %>
    <%= javascript_include_tag 'jquery', 'application', :cache => true %>
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        <h1><%= image_tag "layout/logo.png" %> </h1>
        <%# yield :content_header %>
        <div id='user-navigation'>
          <ul>
            <li><%= link_to "Notícias", "/articles"%> </li>
            <% if current_user %>
              <li><%= link_to "Mensagens", "/inbox"%> </li>
              <li><%= link_to "Opções", "/"%> </li>
              <li><%= link_to "Sair", '/logout'%> </li>
            <% else %>
              <li><%= link_to "Signup", "/signup"%> </li>
              <li><%= link_to "Login", "/login"%> </li>
            <% end %>
          </ul>
          <div class='clear'></div>
        </div>
        <% if current_user %>
          <div id="main-navigation">
            <ul>
              <li class="first"><a href="#block-text">Home</a></li>
              <li class="active"><a href="/cadum">Cadum</a></li>
              <li><a href="#block-login">Editais</a></li>
              <li><a href="#block-signup">Leis</a></li>
            </ul>
          <div class="clear"></div>
        </div>
         <% end %>
      </div>
      <div id='wrapper'>
        <%= flash_message %>
        <div id='main'>
          <%= yield %>
        </div>
        <div id="sidebar">
          <%= yield :sidebar %>
          <% if current_user %>
            <div class="block">
              <h3>Menu Principal</h3>
              <ul class="navigation">
                <li><a href="#"> Editais </a></li>
                <li><a href="#"> Cadastro Unico </a></li>
                <li><a href="#"> Relatorio </a></li>
                <li><a href="#"> Documentos </a></li>
                <li><a href="#"> Contas </a></li>
                <li><a href="#"> Saude </a></li>
              </ul>
            </div>
          <% end %>
          <div class="block">
            <h3>Bla bla bla</h3>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class='clear'></div>
      </div>
      <div id='footer'>
        <div class='block'>
          <p> Powered by Rails & Postgresql </p>
        </div>
      </div>
    </div>
  </body>
</html>
